<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div id="main" ng-controller="mainCtrl">
        <h1>Weather App (Angular)</h1>
        <div class="input-fields">
            <input ng-model="weather.zip" placeholder="Enter Zip Code" />
            <button ng-click="getWeather(weather.zip)">Search</button>
        </div>
        <div class="results">
            <h3>{{ weatherData.name }}</h3>
            <img ng-src="{{weatherIcon}}" />
            <p>Temperature: {{ weatherData.main.temp }}</p>
            <p>High: {{ weatherData.main.temp_max }}</p>
            <p>Low: {{ weatherData.main.temp_min }}</p>
        
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="main.js"></script>
<script src="controller.js"></script>
<script src="service.js"></script>

</html>